* {
  margin: 0 auto;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--background);
  max-width: 1360px;
}

:root {
  --white: #fff;
  --black: #000;
  --background: #e6edec;

  --gray-100: #8a8a8a;
  --gray-400: #e5e2e2ed;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}
body {
  font: 400 1rem sans-serif; //1rem = 16px
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}
