.body__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.body__card {
  height: 200px;
}

.body__card--links {
  text-decoration: none;
}
.body__navbar {
  display: flex;
  cursor: pointer;
  svg {
    color: var(--gray-100);
  }
}
