.body_header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--gray-10);
  margin-bottom: 15px;
}

.body__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
