.body__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body__img {
  border: 2px solid var(--gray-400);
  border-radius: 5px;
}
.body__details {
  width: 300px;
  justify-content: start;
}
